footer {
    background-color: var(--sec-color);
    color: white;
    padding: 20px 0;
}

footer .center {
    display: flex;
    justify-content: space-between;
}

footer .center nav ul {
    list-style-type: none;
    display: flex;
    gap: 45px;
}

footer .center nav ul a {
    font-family: dosis;
    text-decoration: none;
    color: white;
    transition: color 0.1s;
}

footer .center nav ul li {
    position: relative;
    transition: top 0.1s;
}

footer .center nav ul li:hover {
    top: -2px;
    transition: top 0.1s;
}

footer .center nav ul a:hover {
    color: var(--app-red);
    transition: color 0.1s;
}

footer .center .programador {
    display: flex;
    gap: 10px;
}

footer .center p {
    color: white;
    text-decoration: none;
}

footer .center a i {
    color: white;
    font-size: 20px;
    transition: color 0.1s;
}

footer .center a:hover i {
    color: var(--app-red);
    transition: color 0.1s;
}

@media screen and (max-width: 800px) {
    footer .center {
        justify-content: center;
    }

    footer .center nav {
        display: none;
    }
}