footer {
    background-color: var(--sec-color);
    color: white;
    padding: 10px 0;
}

footer .center {
    display: flex;
    justify-content: space-between;
}

footer .center nav ul {
    list-style-type: none;
    display: flex;
    line-height: 24px;
}

footer .center nav ul li a {
    font-family: dosis;
    text-decoration: none;
    padding: 13px 30px;
    position: relative;
    color: white;
    top: 0;
    transition: color 0.1s, top 0.1s;
}

footer .center nav ul li {
    padding: 14px 0;
    position: relative;
}

footer .center nav ul li:hover a {
    position: relative;
    color: var(--main-color);
    top: -2px;
    transition: color 0.1s, top 0.1s;
}

footer .center .programador {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer .center p {
    color: white;
    text-decoration: none;
}

footer .center a i {
    color: white;
    font-size: 20px;
    transition: color 0.1s;
}

footer .center a:hover i {
    color: var(--main-color);
    transition: color 0.1s;
}

@media screen and (max-width: 800px) {
    footer {
        padding: 20px 0;
    }

    footer .center {
        justify-content: center;
    }

    footer .center nav {
        display: none;
    }
}