header {
    background-color: var(--sec-color);
}

header .center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

header .center img {
    height: 50px;
}

header .center .menu-desktop ul {
    list-style-type: none;
    display: flex;
}

header .center .menu-desktop ul a {
    font-family: dosis;
    text-decoration: none;
    color: white;
    transition: color 0.1s;
    padding: 15px 30px;
}

header .center .menu-desktop ul li {
    position: relative;
    top: 0;
    transition-property: top;
    transition-duration: 0.1s;
}

header .center .menu-desktop ul li:hover {
    position: relative;
    top: -2px;
    transition-property: top;
    transition-duration: 0.1s;
}

header .center .menu-desktop ul a:hover {
    color: var(--main-color);
    transition: color 0.1s;
}

/* mobile */
header .center .menu-mobile {
    display: none;
}

header .center .menu-mobile i {
    color: white;
    font-size: 25px;
    position: relative;
    top: 4px;
    cursor: pointer;
}

header .center .menu-mobile ul {
    display: none;
    position: absolute;
    right: 30px;
    top: 65px;
    list-style-type: none;
    background-color: white;
    text-align: center;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 4px 0 rgb(70, 70, 70);
    z-index: 999;
}

.show-menu {
    display: block !important;
}

header .center .menu-mobile ul li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px 45px;
    font-family: dosis;
}

header .center .menu-mobile ul li.linha {
    height: 4px;
    background-color: var(--main-color);
}

@media screen and (max-width: 500px) {
    header .center nav.menu-desktop {
        display: none;
    }

    header .center .menu-mobile {
        display: block;
    }
}