/* HEADER */
header .center .menu-desktop ul li:nth-of-type(1) a {
    color: var(--main-color);
}

header .center .menu-mobile ul li:nth-of-type(1) a {
color: var(--main-color);
}

/* FOOTER */
footer .center nav ul li:nth-of-type(1) a {
    color: var(--main-color);
}

/* BANNER */
section.banner {
    height: calc(100vh - 74px);
    background-color: black;
    background-image: url('../img/capa.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section.banner .banner-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.banner .banner-info h1 {
    text-align: center;
    color: var(--main-color);
    font-size: 70px;
    font-weight: 100;
    width: 100%;
    background-color: rgba(26, 26, 26, 0.9);
    text-shadow: 3px 3px rgba(255, 255, 255, 0.05);
}

section.banner .center .banner-texto p {
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 20px;
}

section.banner .center .banner-texto .texto-slogan {
    font-size: 22px;
    font-family: oswald;

    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;

    background-image: url('../img/box-white-text.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* DESTAQUE */
section.destaque {
    max-width: 1200px;
    margin: 100px auto;
    padding: 0 3%;
}

section.destaque .destaque-titulo {
    padding-left: 50px;
}

section.destaque .destaque-titulo .destaque-container {
    display: inline-block;
    margin-bottom: 20px;
}

section.destaque .destaque-titulo .destaque-container h3 {
    padding-top: 3px;
    border-top: 2px solid var(--sec-color);
    text-shadow: 3px 3px rgba(0, 0, 0, 0.05);
}

section.destaque .destaque-itens {
    display: flex;
    gap: 20px;
}

section.destaque .destaque-itens .card {
    width: 33%;
}

section.destaque .destaque-itens .card .image-wrapper {
    width: 100%;
    padding-top: 50%;
    border-radius: 4px;

    overflow: hidden;
    position: relative;
}

section.destaque .destaque-itens .card .image-wrapper img {
    width: 100%;

    position: absolute;
    top: -10px;
    left: 0;
    transform: translate(-50%, -50%);

    transform: scale(1);
    transition: 0.4s;
}

section.destaque .destaque-itens .card .image-wrapper:hover img {
    transform: scale(1.05);
    transition: 0.4s;
}

section.destaque .destaque-itens .card .card-info {
    padding-left: 10px;
}

section.destaque .destaque-itens .card .card-info h4 {
    margin-top: 10px;
}

section.destaque .destaque-itens .card .card-info p {
    margin-top: 5px;
}

section.destaque .destaque-itens .card .card-info button {
    margin-top: 10px;
}

/* MARCAS */
section.marcas {
    background-color: var(--sec-color);
    padding: 70px 0;
}

section.marcas .wrapper {
    max-width: 1200px;
    margin: auto;
    padding: 0 3%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

section.marcas .item {
    /* background-color: var(--main-color); */
    width: 18%;
    padding-top: 20%;
    position: relative;
}

section.marcas .item img {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}

/* CONTATO */
section.contato {
    max-width: 700px;
    margin: 100px auto;
    padding: 0 3%;
}

section.contato .contato-titulo {
    padding-left: 50px;
}

section.contato .contato-titulo .contato-container {
    display: inline-block;
    margin-bottom: 20px;
}

section.contato .contato-titulo .contato-container h3 {
    padding-top: 3px;
    border-top: 2px solid var(--sec-color);
    text-shadow: 3px 3px rgba(0, 0, 0, 0.05);
}

section.contato form {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section.contato form .lado {
    display: flex;
    gap: 10px;
}

section.contato form .lado input {
    width: 50%;
}

section.contato form input, textarea {
    padding: 10px 15px;
    font-size: 18px;
    border: 1px solid #acacac;
    resize: none;
}

section.contato form input::placeholder, textarea::placeholder {
    color: #acacac;
}

section.contato form button {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 800px) {
    /* INFOS */
    section.infos {
        flex-direction: column;
    }

    section.infos .servicos, section.infos .depoimentos {
        width: 100%;
        padding: 50px 20px;
    }

    /* DESTAQUE */
    section.destaque .destaque-titulo {
        text-align: center;
        padding: 0;
    }
    
    section.destaque .destaque-itens {
        flex-direction: column;
        gap: 30px;
    }
    
    section.destaque .destaque-itens .card {
        width: 100%;
        text-align: center;
        padding: 0 30px;
    }
    
    section.destaque .destaque-itens .card .card-info {
        padding: 0;
    }
}

@media screen and (max-width: 500px) {
    /* BANNER */
    section.banner {
        background-position: -550px center;
    }

    section.banner .center .banner-texto {
        margin: 0 auto;
    }

    section.banner .center .banner-texto .texto-slogan {
        display: none;
    }

    /* CONTATO */
    section.contato .contato-titulo {
        text-align: center;
        padding: 0;
    }

    section.contato form .lado {
        flex-direction: column;
    }

    section.contato form .lado input {
        width: 100%;
    }

    /* MARCAS */
    section.marcas .wrapper {
        gap: 10px;
    }
}