* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
    font-weight: 400;
    color: var(--sec-color);
}

:root {
    --app-red: #eb2d2d;
    --sec-color: #1a1a1a;
    font-size: 16px;
}

html, body {
    height: 100%;
}

.center {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 3%;
}

h3 {
    font-size: 2rem;
    font-weight: 400;
}

h4 {
    font-size: 1.3rem;
    font-weight: 400;
}

p {
    font-size: 1rem;
    font-weight: 300;
}

input:focus, textarea:focus {
    outline: 0;
    border: 1px solid var(--app-red) !important;
}

.btn {
    background-color: var(--app-red);
    font-size: 1rem;
    border: 0;
    border-radius: 4px;
    color: white;
    padding: 8px 15px;
    cursor: pointer;
    border: 1px solid var(--app-red);
    transition-property: background-color, color;
    transition-duration: .4s;
}

.btn:hover {
    background-color: white;
    color: var(--app-red);
    transition-property: background-color, color;
    transition-duration: .4s;
}