/* HEADER */
header {
    box-shadow: 0 1px 5px #ccc;
}

header .center .menu-desktop ul li:nth-of-type(3) a {
    color: var(--main-color);
}

header .center .menu-mobile ul li:nth-of-type(3) a {
color: var(--main-color);
}

/* FOOTER */
footer .center nav ul li:nth-of-type(3) a {
    color: var(--main-color);
}

/* SOBRE */
section.sobre .center {
    margin: 50px auto;
    max-width: 740px;
}

section.sobre .center .titulo-sobre {
    padding-left: 50px;
}

section.sobre .center .titulo-sobre .titulo-container {
    display: inline-block;
    margin-bottom: 20px;
}

section.sobre .center .titulo-sobre .titulo-container h3 {
    padding-top: 3px;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.05);
}

section.sobre .center .titulo-sobre .titulo-container .linha {
    height: 3px;
    background-color: var(--sec-color);
}

/* conteudo */
section.sobre .center .conteudo-sobre {
    margin: 0 auto;
}

section.sobre .center .conteudo-sobre .principal .imagem-capa {
    background: #ccc;
    width: 100%;
    padding-top: 50%;
    border-radius: 4px;
    background-image: url(../img/ferrari-sobre.png);
    background-repeat: no-repeat;
    background-size: cover;
}

section.sobre .center .conteudo-sobre .principal h3 {
    margin: 10px 0;
}

section.sobre .center .conteudo-sobre .principal p:nth-of-type(1) {
    margin-bottom: 10px;
}

section.sobre .center .conteudo-sobre .secundario {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

section.sobre .center .conteudo-sobre .secundario .imagem-secundario {
    background: #ccc;
    width: 30%;
    padding-top: 30%;
    border-radius: 4px;
    background-image: url(../img/exotic-logo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

section.sobre .center .conteudo-sobre .secundario p {
    width: 70%;
}

@media screen and (max-width: 500px) {
    section.sobre .center .conteudo-sobre .secundario {
        flex-direction: column;
    }

    section.sobre .center .conteudo-sobre .secundario .imagem-secundario {
        width: 100%;
        padding-top: 80%;
    }

    section.sobre .center .conteudo-sobre .secundario p {
        width: 100%;
    }
}